<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/px-file-upload/px-file-upload.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-datetime-field/px-datetime-field.html">
<link rel="import" href="analytic-deployment-view-styles.html">
<dom-module id="analytic-deployment-view">
    <template>

        <style include="analytic-deployment-view-styles"></style>
        <!-- <style>
            div.markdown-html>h1 {
                font-weight: normal;
                font-size: 2.6667rem;
                color: rgb(9, 129, 156);
            }

            div.markdown-html>h2 {
                margin-top: 0;
                font-size: 1.86667rem;
                font-weight: normal;
            }

            px-card {
                background: white;
                color: rgb(44, 64, 76);
                --px-card-header-color: black;
            }
        </style> -->
        <div class="flex flex--row flex--center flex--stretch ">
            <div class="box u-1/2-desk u-desk-m-- u-desk-p-- ">
                <px-card header-text="Fill in the below details" icon="px-utl:edit">
                    <!--   <input id="example" type="checkbox" class="toggle__input">
                    <label for="example" class="toggle__label"></label> -->
                    <div>
                        <!--class="flex flex--row flex--center flex--stretch"-->
                        <form class="u-desk-ml u-desk-p">
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_name">Analytic name:</label>
                                <input type="text" class="text-input input--regular" id="analytic_name" value="{{analytic.name::input}}" />
                            </div>
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_type">Analytic name:</label>
                                <!-- <select id="analytic_type" class="u-1/6-desk" value="analytic.type">
                                            <option label="" value="">select</option>
                                            <option label="Python" value="Python">Python</option>
                                            <option label="EMAP" value="EMAP">EMAP</option>
                                            <option label="MATLAB" value="MATLAB">MATLAB</option>
                                    </select> -->
                                <!-- <px-dropdown
                                    items='[{"key":"1","val":"iPhone"},{"key":"2","val":"Android"},{"key":"3","val":"Blackberry"},{"key":"4","val":"Windows Phone"},{"key":"5","val":"Flip Phone","disabled":true}]'
                                    sort-mode="key"
                                    button-style="default"
                                    display-value="Select"
                                    disable-clear>
                                    </px-dropdown> -->
                                <px-dropdown items='[{"key":"1","val":"Python"},{"key":"2","val":"EMAP"},{"key":"3","val":"MATLAB"}]' sort-mode="key" button-style="default"
                                    display-value="Select" disable-clear>
                                </px-dropdown>
                            </div>
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_state">Save Analytic state</label>
                                <!--   <input type="radio" name="analytic_state" class="form-control" id="analytic_state" value="{{analytic.state::change}}" value="No" /><span>No</span>
                                    <input type="radio" name="analytic_state" class="form-control" id="analytic_state" value="{{analytic.state::change}}" value="Yes" /><span>Yes</span> -->
                                <input id="analytic_state_toggle" type="checkbox" class="toggle__input" value="{{analytic.state::change}}">
                                <label for="analytic_state_toggle" class="toggle__label"></label>
                            </div>
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_alarm">Alarming Analytic</label>
                                <!-- <input type="checkbox" name="analytic_alarm" class="form-control" id="analytic_alarm" value="{{analytic.alarming::change}}"  /> -->
                                <!--   <input id="analytic_alarm" type="checkbox" class="toggle__input" value="{{analytic.alarming::change}}"> -->
                                <input id="analytic_alarm_toggle" type="checkbox" class="toggle__input" value="{{analytic.alarming::change}}">
                                <label for="analytic_alarm_toggle" class="toggle__label"></label>
                            </div>
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_start_date">Analytic start date</label>
                                <!-- <input type="date" class="u-1/6-desk" id="analytic_start_date" value="{{analytic.startdate::input}}" /> -->
                                <px-datetime-field date-format="YYYY/MM/DD" time-format="HH:mm:ss" time-zone="UTC" show-time-zone="dropdown">
                                    <!-- date-time="2017-09-21T20:11:36.000Z"
                                    min='"2016-09-21T20:11:36.877Z"'
                                    max='"2018-09-21T20:11:36.877Z"' -->
                                </px-datetime-field>
                            </div>
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_execution_frequency">Analytic Execution frequency</label>
                                <!-- <input type="time" class="u-1/6-desk" id="analytic_execution_frequency" value="{{analytic.execution.frequency::input}}" /> -->
                                <px-datetime-field hide-date time-format="hh:mm:ss A" time-zone="UTC" show-time-zone="dropdown">
                                    <!-- date-time="2017-09-21T20:11:36.000Z"
                                    min='"2016-09-21T20:11:36.877Z"'
                                    max='"2018-09-21T20:11:36.877Z"' -->
                                </px-datetime-field>
                            </div>
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_data_file">Browse file</label>
                                <px-file-upload message="Drag and drop files here, or click the button below.">
                                </px-file-upload>
                            </div>
                            <div class="u-desk-mb- u-desk-p--">
                                <label for="analytic_config_file">Browse Config</label>
                                <px-file-upload message="Drag and drop files here, or click the button below.">
                                </px-file-upload>
                            </div>


                        </form>
                    </div>
                    <div class="layout layout--right">
                            <div class="layout__item u-1/4"></div>
                            <div class="layout__item u-1/4"></div>
                            <div class="layout__item u-1/4"><button class="btn btn--call-to-action"  on-click="print" >Submit</button></div>
                            
                    </div>
                    <!-- <input type="submit" value="Upload" on-click="print" /> -->
                </px-card>
            </div>
            <!-- <div class="box  flex__item flex__item--middle u-desk-mh++ u-desk-p">
                <h3>OR</h3>
            </div> -->

            <div class="box u-1/2-desk u-desk-m- u-desk-p-- flex__item flex__item--middle">
                <!-- <px-card> -->
                <px-card header-text="Auto-fill details from config file" icon="px-utl:upload">
                    <!-- <div class='actions'>
                        <px-icon icon='px-nav:new-window'></px-icon>
                        <px-icon icon='px-utl:help'></px-icon>
                        <px-icon icon='px-utl:app-settings'></px-icon>
                    </div> -->
                    <div class="u-desk-mb- u-desk-p--">
                        <label for="analytic_config_file">Browse Config</label>
                        <px-file-upload message="Drag and drop files here, or click the button below.">
                        </px-file-upload>
                        
                    </div>
                    <div class="layout layout--right">
                            <div class="layout__item u-1/4"></div>
                            <div class="layout__item u-1/4"></div>
                            <div class="layout__item u-1/4"><button class="btn btn--call-to-action"  on-click="print" >Submit</button></div>
                            
                    </div>
                </px-card>

                <!-- </px-card> -->
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "analytic-deployment-view",
            properties: {
                analytic: {
                    type: Object,
                    value: { config: {}, data: {}, execution: {}, name: "Preetham" }
                }
            },
            print() {
                console.log(this.analytic)
            }
        })
    </script>
</dom-module>